<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tricentise Regression Suite">
	<test thread-count="5" name="Automobile Test">
		<classes>
			<class name="TestNGAnnotation.Automobile" />
	
		</classes>
	</test> <!-- Test -->



	<test thread-count="5" name="Truck Test">
		<classes>
			
			<class name="TestNGAnnotation.Truck" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->